.book-header {
  &__headbar{
    background: #7dc7ea;
    height: 10px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    &--title {
      height: 85px;
      width: 480px;
      padding: 0 20px 0;
      line-height: 85px;
      .title-name {
        font-size: 26px;
      }
    }
    &--navbar {
      border-radius: 0 0 50px 50px;
      margin: 0 20px 20px 0;
      background: #7dc7ea;
      text-align: right;
      height: 85px;
      // width: 480px;
      padding: 0 20px 0;
      line-height: 85px;
      .nav {
        div {
          margin-right: 20px;
        }
        display: flex;
        align-items: center;
        .logout-form {
          .form-group{
            &__submit {
              border-radius: 20px;
              background: rgba(184,134,11,1);
            }
          }
        }
      }
    }
  }
  &__breadcrumbs {
    font-size: 15px;
    padding: 0 20px 0;
    margin-bottom: 10px;
    .bread-area {
      padding: 10px;
      background: #eeeeee;
      border-radius: 10px;
      display: flex;
      &__item {
        margin-right: 10px;
      }
      .active {
        font-weight: bold;
      }
    }
  }
  &__menutab {
    margin-bottom: 10px;
    padding: 0 30px 0;
    height: 37px;
    border-bottom: 1px solid #000;
    display: flex;
    .tab {
      width: 133px;
      height: 18px;
      margin: 3px 8px 0 0;
      padding: 9px 12px 5px 8px;
      border-radius: 8px 8px 0 0;
    }
  }
}
