.sidebar {
  width: 250px;
  padding: 0 50px;
  &__title {
    font-size: 20px;
  }
  &__list {
    margin-top: 10px;
    &--name {
      font-size: 18px;
      padding: 5px;
      &:hover {
        background: #8ed8fb;
        border-radius: 8px;
      }
    }
  }
}
