.book-header__headbar {
  background: #7dc7ea;
  height: 10px;
}
.book-header__header {
  display: flex;
  justify-content: space-between;
}
.book-header__header--title {
  height: 85px;
  width: 480px;
  padding: 0 20px 0;
  line-height: 85px;
}
.book-header__header--title .title-name {
  font-size: 26px;
}
.book-header__header--navbar {
  border-radius: 0 0 50px 50px;
  margin: 0 20px 20px 0;
  background: #7dc7ea;
  text-align: right;
  height: 85px;
  padding: 0 20px 0;
  line-height: 85px;
}
.book-header__header--navbar .nav {
  display: flex;
  align-items: center;
}
.book-header__header--navbar .nav div {
  margin-right: 20px;
}
.book-header__header--navbar .nav .logout-form .form-group__submit {
  border-radius: 20px;
  background: #b8860b;
}
.book-header__breadcrumbs {
  font-size: 15px;
  padding: 0 20px 0;
  margin-bottom: 10px;
}
.book-header__breadcrumbs .bread-area {
  padding: 10px;
  background: #eee;
  border-radius: 10px;
  display: flex;
}
.book-header__breadcrumbs .bread-area__item {
  margin-right: 10px;
}
.book-header__breadcrumbs .bread-area .active {
  font-weight: bold;
}
.book-header__menutab {
  margin-bottom: 10px;
  padding: 0 30px 0;
  height: 37px;
  border-bottom: 1px solid #000;
  display: flex;
}
.book-header__menutab .tab {
  width: 133px;
  height: 18px;
  margin: 3px 8px 0 0;
  padding: 9px 12px 5px 8px;
  border-radius: 8px 8px 0 0;
}
