.index-content {
  display: flex;
}
.index-content .books-list {
  margin: 0 auto;
  width: 80%;
}
.index-content .books-list__title {
  font-size: 22px;
  padding: 5px 10px;
}
.index-content .books-list .book-find {
  width: 800px;
}
.index-content .books-list .book-find input {
  height: 50px;
}
.index-content .books-list .book-find__word {
  padding-left: 10px;
  font-size: 18px;
}
.index-content .books-list .book-find__input {
  height: 60px;
}
.index-content .books-list .book-find__input--text {
  width: 600px;
  height: 100%;
  font-size: 20px;
  padding: 8px;
  border: 1px solid #5ba5c8;
  border-radius: 10px;
}
.index-content .books-list .book-find__input--submit {
  width: 100px;
  height: 100%;
  font-size: 15px;
  background: #5ba5c8;
  border-radius: 10px;
  border: 0;
  padding: 0;
}
.index-content .books-list .book-table {
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
  width: 800px;
  border-top: 1px solid #5ba5c8;
}
.index-content .books-list .book-table__list {
  height: 90px;
  padding: 10px 5px;
  border-bottom: 1px solid #5ba5c8;
  display: flex;
}
.index-content .books-list .book-table__list--picture {
  height: 90px;
  width: 90px;
}
.index-content .books-list .book-table__list--picture img {
  height: 90px;
  width: 90px;
}
.index-content .books-list .book-table__list--detail .book-title {
  font-size: 20px;
  color: blue;
}
.index-content .books-list .book-table__list--detail .input-date {
  font-size: 8px;
}
