.book-header__headbar {
  background: #7dc7ea;
  height: 10px;
}
.book-header__header {
  display: flex;
  justify-content: space-between;
}
.book-header__header--title {
  height: 85px;
  width: 480px;
  padding: 0 20px 0;
  line-height: 85px;
}
.book-header__header--title .title-name {
  font-size: 26px;
}
.book-header__header--navbar {
  text-align: right;
  height: 85px;
  width: 480px;
  padding: 0 20px 0;
  line-height: 85px;
}
.book-header__breadcrumbs {
  font-size: 12px;
  padding: 0 20px 0;
}
.book-header__menutab {
  margin-bottom: 10px;
  padding: 0 30px 0;
  height: 37px;
  border-bottom: 1px solid #000;
  display: flex;
}
.book-header__menutab .tab {
  width: 133px;
  height: 18px;
  margin: 3px 8px 0 0;
  padding: 9px 12px 5px 8px;
  border: 1px solid #fff;
  border-radius: 8px 8px 0 0;
  background: #fff;
}
.book-header__menutab .mypage {
  border: 1px solid pink;
  background: pink;
}
.book-header__menutab .book {
  border: 1px solid #8ed8fb;
  background: #5ba5c8;
}
